{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dispatcher.css' %}">
<div>
    <img src="{% static "images/door2dorm2.png" %}" style="width:25pt; height:25pt;" alt="door2dorm-logo">
    <h1>Door2Dorm</h1>
</div>
<head> 
    <title>Door2Dorm Dispatcher</title> 
    <meta http-equiv="refresh" content="10"> 
</head> 
<h2>Ride History</h2>
<table class="styled-table">
    <thead>
        <tr class="ride-in-progress">
            <th> Name </th>
            <th> Sunet </th>
            <th> From </th>
            <th> To </th>
            <th> Carpool </th>
            <th> Picked Up </th>
            <th> Dropped off </th>
        </tr>
    </thead>
    <tbody>
        {% for ride in rides %}
            {% if ride.driver != null %}
            <tr class="rip-bottom-border">
                <td> {{ ride.student.first_name }} {{ ride.student.last_name }}</td>
                <td> {{ ride.student.sunet }} </td>
                <td> {{ ride.current_address }} </td>
                <td> {{ ride.destination_address }} </td>
                <td> {{ ride.num_passengers }} </td>
                <td> {{ ride.picked_up }} </td>
                <td> {{ ride.dropped_off }} </td>
            </tr>
            {% else %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<br>
<h2>Queue</h2>
<table class="styled-table">
    <thead>
        <tr class="queue">
            <th> Name </th>
            <th> Sunet </th>
            <th> From </th>
            <th> To </th>
            <th> Carpool </th>
            <th> Priority </th>
            <th> Safety Level </th>
            <th> Time Requested </th>
        </tr>
    </thead>
    <tbody>
        {% for ride in rides %}
            {% if ride.driver == null %}
            <tr class="q-bottom-border">
                <td> {{ ride.student.first_name }} {{ ride.student.last_name }}</td>
                <td> {{ ride.student.sunet }} </td>
                <td> {{ ride.current_address }} </td>
                <td> {{ ride.destination_address }} </td>
                <td> {{ ride.num_passengers }} </td>
                <td> {{ ride.priority }} </td>
                <td> {{ ride.safety_lvl }} </td>
                <td> {{ ride.time_requested}} </td>
            </tr>
            {% else %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<br>
<h2>Active Drivers</h2>
<table class="styled-table">
    <thead>
        <tr class="active-driver">
            <th> Name </th>
            <th> Currently Driving </th>
            <th> Email </th>
            <th> Phone </th>
            <th> Driver License </th>
            <th> Current Location </th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr class="ad-bottom-border">
            <td> {{ driver.first_name }} {{ driver.last_name }} </td>
            <td> {{ driver.license_plate }} </td>
            <td> {{ driver.email }} </td> 
            <td> {{ driver.phone }} </td>
            <td> {{ driver.driver_license }} </td>
            <td> 40° 26.767′ N 79° 58.933′ W </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<h2>Registered Members</h2>
<table class="styled-table">
    <thead>
        <tr class="registered-members">
            <th> Name </th>
            <th> Sunet </th>
            <th> Email </th>
            <th> Phone </th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr class="rm-bottom-border">
            <td> {{ student.first_name }} {{ student.last_name }} </td>
            <td> {{ student.sunet }} </td>
            <td> {{ student.email }} </td> 
            <td> {{ student.phone }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
